html {
    position: relative;
    min-height: 115%;
}

body {
    margin: 0 0 125px;
    font-family: helvetica;
    background-color: #FFFEFB;
}
/* NavBar Start */
nav {
  display: flex;
  background-color: #ce3d39;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

/* Logo i NavBar */
.logo{
  height: 50px;
  width: auto;
}

/* Styrer de 3 overskriftene i NavBar */
nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 2.5vh;
  color: #FFFEFB;
  padding: 2px;
}

/* HoverEffekt i NavBar */
nav a:hover{
  background: rgb(255, 253, 253);
  color: #ce3d39;
  transition: all 0.3s ease 0s;
}

/* Valgte pagen i NavBar  */
.active {
  border-bottom: 3px solid #FFFEFB;
}
/* NavBar slutt */

/* Footer */
footer {
  text-align: center;
  background-color: #ce3d39;
  color: #FFFEFB;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 125px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* Herodisplay hovedsiden */
.heroDisplay {
  display: flex;
  width: 100%;
  height: auto;
  align-items: flex-start;
}

/* Størrelsen på bildet i Herodisplay */
/* Mulig endre til css bakgrunnsbilde for å ha text over */
.imageHero {
  max-width: 100%;
  max-height: 100%;
}

/* Stories hovedsiden */

/* Hoved container */
.storiesOverview{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15%;
}

/* Tittelen over stories */
.tittel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  font-size: 3vh;
  margin-top: 5%;
}

/* Stories boksen */
.stories{
  display: flex;
  flex-direction: column;
  width: 20%;
  align-content: center;
  align-items: center;
  margin:10px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px lightgrey;
  background-color: #F1F0EC;
}

/* Bildet i stories */
.storiesImage {
  max-width: 100%;
}
/* Tittel i stories */
.storiesHeader{
  font-weight: 600;
}

/* Statistics siden */
/* Overordnet boks - listen */
.listen {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  margin-bottom: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F1F0EC;
  border-radius: 7px;
}

/* Hver rad i listen */
.rad{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  width: 60%;
  margin-bottom: 2%;
}

/* Hvert element i listen */
.radElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

/* Overskriftene til listen */
.radElementOverskrift {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  width: 25%;
  margin-top: 2%;
}

/* Tittel og beskrivelse container over listen */
.listebeskrivelse {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #FFFEFB;
  background-image: url("../images/schoolBackgroundSmall.png")
}

/* Bakgrunnshistorie for informasjonen som blir vist i listen */
.listeBakgrunn {
  max-width: 60%;
  background-color: #FFFEFB;
  border-radius: 5px;
  padding: 0.5%;
}

/* Tittelen over hele listen */
.tittel-liste {
  max-width: 60%;
  background-color: #FFFEFB;
  border-radius: 5px;
  padding: 0.5%;
  font-size: 3vh;
  margin-top: 5%;
}
/* Liste slutt */

/* Development siden */
/* Overordnet boks for elementene i development siden */
.development-overview {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 15%;
}

/* Boks for hver av development tiltakene */
.development-storie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  background-color: #F1F0EC;
  margin: 1%;
  align-items: flex-start;
}

/* Bilde til hvert development tiltak */
.development-image {
  width: 30%;
  height: auto;
}

/* Boksen for tittel og tekst i hvert tiltak */
.development-story {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 70%;
  height: auto;
}

/* Tittel - tiltak */
.development-tittel {
  display: flex;
  justify-content: center;
  height: 22%;
}

/* Beskrivelse - tiltak */
.development-beskrivelse {
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
  margin-right: 1%;
}

/* For at wrappingen av "stories" skal bli enda finere i index */
@media only screen and (max-width: 800px) {
  /* For mobile phones: */
  [class="stories"] {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
  }
