html {
    position: relative;
    min-height: 115%;
}

body {
    margin: 0 0 125px;
    font-family: helvetica;
    background-color: #FFFEFB;
}

nav {
  display: flex;
  background-color: #ce3d39;
  height: 100px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-size: 3vh;
  color: #FFFEFB;
}

nav a:hover{
  background: lightgrey;
  color: #ce3d39;
  transition: all 0.3s ease 0s;
}

footer {
  text-align: center;
  background-color: #ce3d39;
  color: #FFFEFB;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 125px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

li {
  list-style-type: none;
}

.logo {
  max-height: 70px;
}

.active {
  border-bottom: 3px solid #FFFEFB;
}

.heroDisplay {
  display: flex;
  width: 100%;
  height: auto;
}

.imageHero {
  max-width: 100%;
}

.storiesOverview{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 15%;
}
.tittel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 3vh;
  margin-top: 5%;
}

.stories{
  display: flex;
  flex-direction: column;
  width: 20%;;
  align-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  box-shadow: 3px 3px 5px lightgrey;
}

.storiesImage {
  max-width: 100%;
}

.listen {
  padding: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.rad{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  width: 50%;
  margin-bottom: 2%;
}


.radElement {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}
.radElementOverskrift {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  width: 25%;
}
